@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	color: aliceblue;;
    font-family: 'Poppins', sans-serif;
    padding: 10px 10px;
    border-radius: 30%;
    background-color: transparent;
    letter-spacing: 3px;
    border: 2px solid aliceblue;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.Login-btn{
	color: aliceblue;;
    font-family: 'Poppins', sans-serif;
	padding: 10px 10px;
	letter-spacing: 3px;
	border-radius: 30%;
	font-size: 15px;
	border: 2px solid aliceblue;
	cursor: pointer;
	background-color: transparent;
}
.btn:hover {
    background-color: rgba(14, 152, 207, 0.712); /* Green */
    color: white;
  }

/* Chat Page */

.chat-container {
	display: grid;
	margin: 3px auto;
	overflow: hidden;
}

.chat-header {
	background: transparent;
	color: aliceblue;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 2fr 4fr 3fr;
	right: 0;
	height: 600px;
	background-color: aliceblue;
	position: relative;
}
.chat-block{
	display: grid;
	grid-template-rows: 8fr 1fr;
}
.chat-sidebar {
	/*background: rgb(1, 11, 99)/*rgb(187, 54, 54)/*var(--dark-color-b)*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(62, 0, 0, 0.836)), color-stop(100%,blueviolet)); /* Chrome,Safari4+ */
	
	color: #fff;
	left : 0;
	
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
	background-color: rgb(1, 11, 99)/*var(--dark-color-a);*/
}

.chat-form-container form {
	display: inline;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: green;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
